body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  